{
  "presets": [
    [
      "@babel/typescript",
      {
        "jsxPragma": "h"
      }
    ],
    "@babel/preset-modules"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h"
      }
    ]
  ]
}
