@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

h1 {
  font-weight: 300;
  font-size: 1.7rem;
}

h5,
.h5 {
  font-weight: 600;
  font-size: 1.4rem;
}

.pri {
  font-weight: 400;
  font-size: 1.7rem;
}

.sec {
  font-size: 1.4rem;
}

.tri {
  font-size: 1.2rem;
}
